:root
{
  ---background-color: #16a34a;
  ---color: #e5e7eb;
  ---signify-color: #fbbf24;
  ---border-radius: 5px;
  ---font-color: #fbbf24;
  ---addition-color: #020617;
}
*
{
  margin: 0;
  padding: 0;
  font-size: 26px;
  /* text-shadow: 0 0 5px #085959; */
  /* background-color: #020617; */
  color: var(---color);
  font-family: Pixelify Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button
{
  width: 20px;
  height: 20px;
}
body
{
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 5fr;
  background: linear-gradient(to bottom, var(---addition-color), var(---background-color));
}
body>h1
{
  text-align: center;
}
body .home
{
  /* border-right: 2px solid #16a34a; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2%;
  padding: 2%;
  position: relative;
  overflow: scroll;
  height: 98%;
}
.project ,.project *
{
  background-color: var(---background-color);
  color: var(---color);
}
.project
{
  flex: 0 0 150px;
  box-shadow: 0 0 10px var(---addition-color);
  padding: 2%;
  display: grid;
  grid-template-columns: 6fr 1fr;
  border-radius: var(---border-radius);
}
.focus, .focus *
{
  background-color: #052e16;
  color: #dcfce7;
}
.focus
{
  outline: 1px solid var(---background-color);
  border: none;
}
.project>h1
{
  font-weight: normal;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.project li
{
  list-style: none;
}
.project>p
{
  color: black;
}
.project>button
{
  width: auto;
  height: 100%;
  color: var(---addition-color);
  background-color: var(---signify-color);
  border-radius: var(---border-radius);
  grid-row: span 2;
  align-self: center;
  position: relative;
}
.focus>button
{
  background-color: #e11d48;
  outline: 1px solid var(---background-color);
  border: none;
}
.home>button
{
  margin-top: 3%;
  width: auto;
  height: 1.5em;
  background-color: var(---font-color);
  /* border: 5px solid #16a34a; */
  color: var(---color);
  box-shadow: inset 0 0 5px var(---color);
  border-radius: var(---border-radius);
  border: none;
}
.home>button:active
{
  background-color: #bbf7d0;
  box-shadow: 0 0 20px #f0fdf4;
}
.dialog
{
  position: absolute;
  border: none;
  border-radius: var(---border-radius);
  width: auto;
  height: 100vh;
  padding: 3%;
  background-color: var(---addition-color);
}
.dialog>h1
{
  text-align: center;
}
.dialog form
{
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.dialog button
{
  width: auto;
  height: 1.5em;
  color: var(---addition-color);
  background-color: var(---font-color);
}
form>label
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form input[type="text"], form input[type="date"]
{
  padding: 3px;
  color: var(---addition-color);
  width: 100%;
  border: 2px solid var(---color);
  background-color: var(---color);
}
form input[type="text"]:invalid, form input[type="date"]:invalid
{
  background-color: var(---font-color);
  border: none;
}
form input[type="text"]:valid, form input[type="date"]:valid
{
  background-color: var(---background-color);
  box-shadow: 0 0 5px var(---background-color);
  border: none;
}
form input[type="radio"]:checked + .name
{
  color: var(---background-color);
}
form .calendar-icon
{
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 30px;
  height: 30px;
  background-color: var(---font-color);
}
form input[type="date"]:disabled+.calendar-icon
{
  background-color: var(---color);
}
form input[type="date"]:valid+.calendar-icon
{
  background-color: var(---background-color);
}
form fieldset
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
dialog::backdrop
{
  background-color: black;
  opacity: 50%;
}
fieldset>label
{
  margin: 3%;
}
fieldset input
{
  margin-right: 5px;
}
.content
{
  display: flex;
  flex-direction: column;
  gap: 2%;
  height: 100%;
}
.content #welcome
{
  width: auto;
  height: 50%;
  margin-top: 20%;
  text-align: center;
  font-size: clamp(20px, 10vw, 500px);
  background-image: linear-gradient(to bottom, var(---font-color), #f8fafc);
  background-size: 100%;
  background-clip: text;
  color: transparent;
}
.content .header
{
  align-self: center;
  font-size: clamp(1rem, 10vh, 100px);
  position: relative;
  text-align: center;
  margin: 1em 0;
}
.header h1, .header .edit
{
  font-size: inherit;
  display: inline-block;
  height: fit-content;
  width: fit-content;
}
.header h1
{
  word-wrap: break-word;
}
.header .edit
{
  position: absolute;
  right: -1em;
  width: 1em;
  height: 1em;
  background: none;
  border: none;
}
.edit svg
{
  fill: var(---font-color)
}
.content .add
{
  position: absolute;
  height: 1.5em;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Eplus-thick%3C%2Ftitle%3E%3Cpath%20d%3D%22M20%2014H14V20H10V14H4V10H10V4H14V10H20V14Z%22%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-self: center;
  width: 1.5em;
  background-color: var(---font-color);
  bottom: -1.5em;
  left: 50%;
}
.item
{
  display: flex;
  align-items: center;
  margin-left: 10%;
  border: var(---background-color) 2px solid;
  width: 80%;
  border-radius: 10px;
}
.item button
{
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Echeck%3C%2Ftitle%3E%3Cpath%20d%3D%22M21%2C7L9%2C19L3.5%2C13.5L4.91%2C12.09L9%2C16.17L19.59%2C5.59L21%2C7Z%22%2F%3E%3C%2Fsvg%3E');
  height: 0.8em;
  margin: 0 5px;
  border-radius: 10px;
  border: none;
}
.\3-1
{
  color: var(---color);
}
.\30
{
  color: var(---font-color);
}
.\31
{
  color: #e11d48;
}